#Popup {
    z-index: 2;
    transition: 0.3s;
    position: absolute;
    width: 900px;
    height: 600px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#Popup #WalkthroughInfo, #Popup .minus {
    pointer-events: auto;
}

#Blur {
    transition: 0.3s;
    position: absolute;
    width: 900px;
    height: 600px;
    background: linear-gradient(180deg, rgba(20,29,38,0) 0%, #141617 100%);
    backdrop-filter: blur(2px);
    pointer-events: auto;
}

#Blur.disabled {
    pointer-events: none;
    opacity: 0;
}

#Blur .texture {
    position: absolute;
    opacity: 0.02;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 276px 276px;
    background-image: url("../../assets/texture.png");
}

.header, .minus {
    z-index: 2;
}

.header {
    position: absolute;
    text-align: center;
    color: var(--walkthrough-text-color);
    font-family: FedraBook;
    font-size: 17px;
}

.minus {
    position: absolute;
    bottom: 253px;
    width: 15px;
    height: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.minus:hover { opacity: 0.8; }
.minus:active { opacity: 0.6; }

.minus div {
    position: absolute;
    width: 12px;
    height: 2px;
    border-radius: 10px;
    background-color: var(--next-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header.failState { bottom: 144px; }
.minus.failState  { bottom: 122px; }

.minus div.pulsing::before, .minus div.pulsing::after {
    border-radius: 10px;
    animation: minusPulse 1.7s infinite ease;
}
.minus div.pulsing::after { animation-delay: 0.35s; }

.minus:hover div.pulsing::before, .minus:hover div.pulsing:after { animation: none; }

@keyframes minusPulse {
    0% {
        width: 10px;
        height: 0px;
        border: 2px solid #26a07700;
    }

    30% {
        border: 2px solid #26a0773f;
    }

    80% {
        border: 2px solid #26a07700;
    }

    100% {
        width: 75px;
        height: 33px;
        border-radius: 20px;
        border: 2px solid #26a07700;
    }
}